a {
    color: blue;
}

.nav_bar {
    border: 2px solid #484848;
    margin: 1rem auto;
    padding: 0;
}
.nav_bar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav_bar li {
    cursor: pointer;
    color: darkgray;
    white-space: nowrap;
    width: 10rem;
    text-align: center;
}
.nav_bar li:hover {
    font-weight: bold;
    color: black;
}